
<div class="controls">
    <button (click)="addItem()">Add New Item</button>
    <input type="file" (change)="uploadFile($event)" />
    
    <textarea [(ngModel)]="newText" placeholder="Enter custom text"></textarea>

    <div class="row w-100">        
        <div class="col-8">
            <div id="editorjs"></div>
        </div>
        <div class="col-4">
            <button (click)="addItem()">Save</button>
        </div>
    </div>
</div>
<div class="controls">
  <label for="resolution">Select Resolution:</label>
  <select id="resolution" (change)="changeResolution($event)">
    <option *ngFor="let res of resolutions" [value]="res.width + 'x' + res.height">
      {{ res.label }}
    </option>
  </select>

  <label for="orientation">Orientation:</label>
  <select id="orientation" (change)="changeOrientation($event)">
    <option value="landscape">Landscape</option>
    <option value="portrait">Portrait</option>
  </select>
</div>

<div class="px-3" style="height: 80vh;">
    <gridster [options]="gridOptions">
      <gridster-item *ngFor="let item of dashboardItems" [item]="item" (click)="editItem(item)">
        <div class="widget">
            <ng-container *ngIf="item['type'] === 'image'">
                <img [src]="item['content']" alt="Uploaded ad" />
            </ng-container>
            <ng-container *ngIf="item['type'] === 'text'">
                <!-- <p>{{ item['content'] }}</p> -->
                 
                <div [innerHTML]="item['content']"></div>
            </ng-container>
        </div>
      </gridster-item>
  </gridster>
</div>